body {
    margin: 0px;
    padding: 0px;

    background: hsl(0, 0%, 92.5%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;

    font-family: monospace, sans-serif;
}

.wrapper {
    background: hsla(0, 0%, 87.5%, 0.5);

    flex-basis: 550px;
    width: 550px;
    height: auto;

    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 20px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    transition: transform 0.5s ease, box-shadow 0.5s ease;

    overflow: hidden;
}

.wrapper:hover {
    transform: perspective(1750px) rotateX(1deg) rotateY(-1deg);
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.12);
}

.header {
    background: hsla(0, 0%, 87.5%, 0.5);

    padding: 5px 20px;

    text-align: center;

    border-radius: 14px 14px 0px 0px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.game-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 25px;

    padding: 30px;
}

.container-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    width: 100%;

    padding: 5px;
}

.button {
    background: hsla(0, 0%, 95%, 0.5);

    border: 2px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 14px;

    padding: 10px 20px;

    font-size: 18px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    cursor: pointer;

    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.button:hover {
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: hsla(0, 0%, 90%, 0.5);
}

.button:active {
    transform: translateY(2px) scale(1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: hsla(0, 0%, 95%, 0.5);
}

.container-row img {
    width: 200px;
    height: auto;
}

.muzzle-flash {
    width: 200px;
    height: auto;

    margin-top: -65px;
    margin-left: -30px;

    display: none;
}

.muzzle-flash.show {
    width: 200px;
    height: auto;

    margin-top: -65px;
    margin-left: -30px;

    display: block;
}


#status {
    font-size: 20px;

    text-align: center;
}

.player-container {
    background: hsla(0, 0%, 90%, 0.5);

    padding: 7.5px 35px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: center;

    border-radius: 0 0 14px 14px;

    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

.add-player svg {
    width: 70px;
    height: 70px;

    fill: none;
    stroke: hsla(0, 0%, 50%, 1);
    stroke-width: 1;
}

.add-player {
    width: 70px;
    height: 70px;

    padding: 0;

    background: transparent;
    border: none;

    cursor: pointer;
}

.player-button svg {
    width: 70px;
    height: 70px;

    fill: none;
    stroke: hsl(0, 0%, 70%);
    stroke-width: 1;
}

.player-button text {
    fill: hsl(0, 0%, 70%);
    stroke: none;

    font-size: 12px;
    font-family: monospace, sans-serif;
}

.player-button {
    width: 70px;
    height: 70px;

    padding: 0;

    background: transparent;
    border: none;

    cursor: pointer;
}

.player-button.active svg {
    stroke: hsl(0, 0%, 50%);
}

.player-button.active text {
    fill: hsl(0, 0%, 50%);
    stroke: none;

    font-size: 12px;
    font-family: monospace, sans-serif;
}

.player-buttons {
    display: flex;
}

.numbered-buttons-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

#remove-player-button {
    background: rgba(255, 0, 0, 0.3);

    width: 350px;

    justify-content: center;
    text-align: center;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 10px;
}

#remove-player-button:hover {
    background: rgba(255, 0, 0, 0.4);
}

#remove-player-button:active {
    background: rgba(255, 0, 0, 0.5);
}

footer p a {
    color: hsl(0, 0%, 50%);

    font-weight: bold;
}

footer p {
    color: black;
}